<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ "/logo_square.jpg" | relative_url }}" alt="Winter Arc Hub" style="height: 40px; vertical-align: middle;">
      Winter Arc Hub
    </a>
    <nav class="site-nav">
      <a href="{{ "/about/" | relative_url }}" class="page-link">About</a>
      <a href="{{ "/disclosure/" | relative_url }}" class="page-link">Disclosure</a>
    </nav>
  </div>
</header>
